{% extends 'user/base.html' %}
{% load static %}


{% block title %}
  {{ Server_Title }} | Reset Password
{% endblock %}


{% block head %}

{% endblock %}


{% block body %}
<div class="d-none">
  <form method="post" action="/accounts/reset_password" id="reset-form">
    {% csrf_token %}
    <input type="text" name="id" id="id" readonly>
    <button type="submit" ></button>
  </form>
</div>
<script src="{% static 'js/user/reset_password_get.js' %}"></script>
{% endblock %}


{% block extra %}

{% endblock %}