{% extends 'user/base.html' %}
{% load static %}


{% block title %}
  {{ Server_Title }} | Reset Password
{% endblock %}


{% block head %}

{% endblock %}


{% block body %}
<body class="hold-transition login-page">
    <div class="login-box">
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <a href="" class="h1"><b>{{ Server_Title }}</b></a>
        </div>
        <div class="card-body">
          <h5 class="text-center"><b>Reset Password</b></h5>
          <p class="login-box-msg" id="reset-msg"></p>
          <form action="/api/accounts/reset_password" method="post" id="reset-form">
            {% csrf_token %}
            <input type="text" class="form-control d-none"  name="id" value="{{ id }}" required readonly>
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Password" name="password" id="password" required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-eye"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Confirm Password" name="retype_password" id="retype_password" required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-5 text-right">
                  <i class="fas fa-spinner fa-pulse d-none" id="reset-loading" style="font-size: 30px;"></i>
              </div>
              <div class="col-7">
                <button type="submit" class="btn btn-primary btn-block" id="reset-submit">Change password</button>
              </div>
            </div>
          </form>

          {% if request.user.is_authenticated %}
            <p class="mt-3 mb-1">
              <a href="/settings">Back</a>
            </p>
          {% else %}
            <p class="mt-3 mb-1">
              <a href="/accounts/login">Login</a>
            </p>
          {% endif %}

        </div>
      </div>
    </div>
</body>

<script src="{% static 'js/user/reset_password.js' %}"></script>
{% endblock %}


{% block extra %}

{% endblock %}